p{
    color: red !important;
    font-weight: bold;
}
p:hover{
    color: blue;
}
h1{
    font-size: 12px;
}
h1:hover{
    color: blueviolet;
}
#demo:{
    color: aqua;
}
#demo:hover{
    color: red;
}